body{

    background-image: url(/img/fondo.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#titulo{
    padding: 1em 10em 1em 10em;
    border: 0.5em dashed white;
    margin:190px;
    justify-content: center;

}
#titulo:hover{

    transition-delay: initial;
}



h1{
    margin: 10px;
    color: white;
    font-size: 9vw;
    text-align: center;
    font-family:"Rye", serif;
    
}


h2{

    color: white;
    margin: auto;
    font-size: 5vw;
    text-align: center;
    font-family:niconne;
    font-style: italic;
}
nav{

    padding: 3vw;
}
#clase{

    padding: 5vw;
    display: flex;
}
.genero{

    font-family:"Rye", serif;;
    font-size: 2vw;
    text-align: center;
    color: white;
    margin: 5vw 4vw 1vw 1vw;
    padding: 1vw;
    border-radius: 25%;
    border-right:2px solid #ffffff;
    border-top:2px solid red; 
    position:relative;
    top: 0;
transition: top ease 0.5s;
}
.genero:hover{

    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 10px;




}
.link {
    color: white;

}
.link:hover { 
    
    color: red; } 

#CardsContenier{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
text-align: center;
}

.contenedor{
    padding: 1vw;
   
}

.card{
    padding: 1vw;
    margin:auto;
    border-radius: 25%;
    background-image: url('.img');
}

.card.titulo{
    
    color:white;
    font-size: 0.7em;
    padding: 1vw;

}
.img{
    border-radius: 15%;
    width: 400px;
	height: 400px;
	object-fit: cover;
}
p{
    color: white;
}

button{

    display: flex;
}