body{

    background-image: url(/img/fondo.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{

    color: white;
    margin: auto;
    font-size: 9vw;
    text-align: center;
    font-family:niconne;
    font-style: italic;
}
#clase{

    padding: 5vw;
    display: flex;
}
.genero{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: center;
    color: white;
    margin: 5vw 4vw 1vw 1vw;
    padding: 1vw;
    border-radius: 25%;
    border-right:2px solid #ffffff;
    border-top:2px solid red; 
    position:relative;
    position: relative;
    top: 0;
transition: top ease 0.5s;

}
.genero:hover{

    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 10px;




}
.link {
    color: white;

}
.link:hover { 
    
    color: red; } 

#CardsContenier{

    display: flex;
    padding: 1vw;
}

.contenedor{
   padding: 1vw;
   margin: auto;

}


.titulo{

    color:white;
    font-size: 2em;
    padding: 1vw;

}
.img{

    border-radius: 15%;

}