body{

    background-image: url(/img/fondo2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#titulo{
    padding: 1em 1em 1em 1em;
    border: 0.5em dashed white;
    margin:1em;
    justify-content: center;

}
#titulo:hover{

    transition-delay: initial;
}



h1{
    margin: 10px;
    color: white;
    font-size: 9vw;
    text-align: center;
    font-family:"Rye", serif;
    
}

.titulope{

    padding: 5px;
    border: 0.5em dashed white;
    margin: 1em 1em 1em 23em;
    justify-content: center;
    display: inline-block;
    display: center;

}


h2{

    color: white;
    margin: auto;
    font-size: 5vw;
    text-align: center;
    font-family:niconne;
    font-style: italic;

}

nav{

    padding: 1vw;
}
#clase{
    margin: auto;
    padding: 7vw;
    display: flex;
    justify-content: center;
}
.genero{

    font-family:"Rye", serif;;
    font-size: 3vw;
    text-align: center;
    color: white;
    margin: 5vw 4vw 1vw 1vw;
    padding: 1vw;
    border-radius: 25%;
    border-right:2px solid #ffffff;
    border-top:2px solid red; 
    position:relative;
    top: 0;
transition: top ease 0.5s;
}
.genero:hover{

    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 10px;




}
.link {
    color: white;

}
.link:hover { 
    
    color: red; } 

#CardsContenier{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
text-align: center;

}

.contenedor{
    padding: 1vw;
    margin: auto;
    
}

.card{
    padding: 3vw;
    width: 25em;
    height: 24em;
    background-image: url('${card.poster}')
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  
}
.card:hover {
    background-image: url(${card.poster});
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.titulo{
    font-family: "Pacifico", cursive;;
    font-size: 1em; 
    margin-bottom: 0.5em;
    text-align: center;
    

}
p{
    font-family: "Pacifico", cursive;;
    color: black;
    font-size:1.5em; 
    margin-top: 0; 
    margin-bottom: 0.5em; 
    text-align: center;
}
.titulo:hover, p:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
  }

button{

    display: flex;
}