body{

    background-image: url(/img/fondo.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{

    color: white;
    margin: auto;
    font-size: 5vw;
    text-align: center;
}